body {
  margin: 0;
}

main {
  padding-top: 180px;
}

header {
  background-color: #F1634F;
  padding: 20px;
  width: 100%;
  position: fixed;
}

header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  margin: 0, 0, 40px, 0;
  text-align: center;
}

header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul > li {
  display: inline;
  margin: 0 5px;
}

li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
}

section {
  padding: 60px 80px;
}

section > h3 {
  margin: 0 0 40px 0;
}

.section-border-bottom {
  border-bottom: 1px solid #D2D2D2;
}

#about > div, #work > div {
  display: inline-block;
  width: 40%;
}

#about > div > img, #work > div > img {
  width: 90%;
}

#about > p, #work > p {
  float: right;
  margin-top: 0px;
  width: 60%;
}

#projects > div, #education > div {
  display: inline-block;
  padding: 0 150px;
}

section > div > figure {
  height: 359px;
  margin: 0px;
}

section > div > figure > figcaption {
  margin-top: 40px;
  text-align: center;
}

#MSM-caption {
  margin: 0px;
}

#footer {
  background-color: #F1634F;
  height: 60px;
  margin: 0px;
  text-align: center;
}

.emailicon, .githubicon {
  padding: 15px 10px;
  width: 45px;
}
/*
a.emailicon, a.githubicon {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}
*/
/*
a.githubicon {
    display: inline-block;
    text-decoration: none;
}*/
